<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        .cat-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .wanttogo {
            position: fixed;
            left: 80px;
            top: 370px;
        }
        .fullbtn{
            width: -webkit-fill-available;
        }
        .search-res{
            display: none;
            margin-top: 45px;
        }
        .search-normal{
            display: flex;
        }
        .logout-res{
            display: none;
        }
        img{
            height: 300px;
            width: auto;
        }
        @media only screen and (max-width: 768px) {
            .container{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .cat-container{
                margin-bottom: 10px;
            }
            .search-res{
                display: block;
            }
            .search-normal{
                display: none;
            }
            .logout-res{
                display: block;
                position: absolute;
                top: 9px;
                right: 7px;
                z-index: 2000;
            }
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Destinations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <button onclick="location.href = '/logout';" id="logout" class="btn btn-danger ml-3 logout-res">Logout</button>

    <nav class="navbar fixed-top navbar-light justify-content-between" style="background-color: #404243 ;">
        
        <a class="navbar-brand text-white">Hiking</a>
        <div class="search-normal">
            <form class="form-inline" method="POST" action='/search'>
            <input name="Search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

            </form>
            <button onclick="location.href = '/logout';" id="logout" class="btn btn-danger ml-3">Logout</button>

        </div>    
      </nav>
      
    <br>

    <div class="container search-res">
        <form class="form-inline" method="POST" action='/search'>
            <input name="Search" class="form-control col-md-9" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 col-md-3" type="submit">Search</button>

        </form>
    </div>
    <br>
    <br>
    
    <div class="container d-flex">
        
        <br>
        <div class="mx-auto col-md-6 mb-3 cat-container">
        <img id="image" src="/inca.png" width="100" height="100">
        <br>
        <label class="ml-4 my-2">Inca Trail to Machu Picchu</label>
        <br>
        <button onclick="location.href = '/inca';" class="fullbtn btn btn-primary"> View </button>
    </div>
    <br>
    
    
    <div class="mx-auto col-md-6 mb-3 cat-container">
        <img id="image" src="/annapurna.png" width="100" height="100">
        <br>
        <label class="ml-4 my-2">Annapurna Circuit</label>
        <br>
        <button onclick="location.href = '/annapurna';"  class="fullbtn btn btn-primary"> View </button>
    </div>
    <br>
    </div>
    <br>
    
</body>
</html>



